// Font sizes
$font-size-base:             0.8125rem; // Assumes the browser default, typically `16px`
$font-size-lg:               ($font-size-base + 0.0625rem);
$font-size-sm:               ($font-size-base - 0.0625rem);
$font-size-xs:               ($font-size-base - (0.0625rem * 2)) !default;