.NotificationContainer {
  width: 300px;
  position: fixed;
  z-index: 999999;
  bottom: 20px;
  right: 20px
}

.NotificationBar {
  transition: all 0.3s ease-in-out;
  &:last-of-type {
    margin-bottom: 0;
  }
}